@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    /* background-color: black; */
    color: white;

    background: linear-gradient(135deg, #3d3c3f, #052c35);
    background-attachment: fixed; /* Optional: keep the background fixed while scrolling */
    /* You can adjust other properties like background-size, background-position, etc. as needed */
}

